.about-container {
	margin: 0 auto 0 auto;
	padding-top: 15vh;
	width: 90vw;
	max-width: 500px;
	height: 85vh;
}
.grid-item {
	text-align: center;
	border: 1px solid var(--outline-color);
}
.me-image {
	max-width: 100%;
	max-height: 60vh;
	clip-path: polygon(
		50% 0%,
		90% 20%,
		100% 60%,
		75% 100%,
		25% 100%,
		0% 60%,
		10% 20%
	);
	transition: all 0.15s ease-in-out !important; /* z-index: 1000; */
	animation-name: none !important;
}
.me-image:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1) !important;
}
.about-text-container {
	text-align: left;
	font-size: 20px;
	margin: auto;
}
.MuiGrid-spacing-xs-3 {
	width: 100% !important;
	margin: 0 !important;
}
.grid-text {
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 600px) {
	.buttons-container {
		display: none;
	}
}
.buttons-container {
	/* text-align: center; */
	margin-top: 10vh;
}
.button {
	margin-right: 20px !important;
}
