.other-things-container {
	background-color: #d8d8f646;
	padding: 20vh 0;
	height: 60vh;
}
.other-card-container {
	text-align: left;
	margin: 0 auto;
	height: 400px;
	background-color: rgb(29, 29, 29) !important;
	color: white !important;
	border: solid 1px rgb(160, 160, 160);
	overflow: auto !important;
}
.list-header {
	background-color: rgb(29, 29, 29) !important;
	color: white !important;
	font-size: 20px !important;
	display: flex;
	align-items: center;
	/* margin: 0 0 2vh 0 !important; */
	text-decoration: none !important;
}
.MuiListItem-root:nth-child(odd) {
	background-color: rgb(37, 37, 37) !important;
}
.list-header:hover {
	background-color: rgb(53, 53, 53) !important;
}
.github-icon {
	max-width: 30px;
	padding-right: 10px;
}
.MuiListItemText-primary {
	font-size: 15px !important;
	color: white !important;
}
.MuiListItemText-secondary {
	font-size: 10px !important;
	color: rgb(207, 207, 207) !important;
}
.github-title {
	vertical-align: middle !important;
	margin: 5px 0 0 0 !important;
}
.MuiButtonBase-root:hover {
	background-color: rgb(53, 53, 53) !important;
}
.MuiList-padding {
	padding-top: 0 !important;
}
.MuiButton-root {
	text-transform: none !important;
}
