.other-things-container {
	background-color: #d8d8f646;
}
.other-card-container {
	text-align: left;
	margin: 0 auto;
	height: 400px;
	background-color: rgb(29, 29, 29) !important;
	color: white !important;
	border: solid 1px rgb(160, 160, 160);
	overflow: auto !important;
}
.list-header {
	background-color: rgb(29, 29, 29) !important;
	color: white !important;
	font-size: 20px !important;
	display: flex;
	align-items: center;
	/* margin: 0 0 2vh 0 !important; */
	text-decoration: none !important;
}
.list-header:hover {
	background-color: rgb(53, 53, 53) !important;
}
.github-icon {
	max-width: 30px;
	padding-right: 10px;
}
.MuiListItemText-primary {
	font-size: 15px !important;
	color: white !important;
}
.MuiListItemText-secondary {
	font-size: 10px !important;
	color: rgb(207, 207, 207) !important;
}
.github-title {
	vertical-align: middle !important;
	margin: 5px 0 0 0 !important;
}
.MuiButtonBase-root:hover {
	background-color: rgb(53, 53, 53) !important;
}
.twitch-clip {
}
.twitch-gif {
	width: 100%;
}
