.projects-container {
	/* width: 90vw; */
	background-color: var(--main-bg-color);
	/* background: transparent
		url('https://www.itl.cat/pngfile/big/16-165666_dark-city-cartoon-dark-city-background.png')
		repeat;
	background-attachment: fixed; */
}
.outer-grid {
	margin: 0 auto !important;
	width: 90vw !important;
	padding: 0 0 10vh 0;
}
.project-grid-title {
	background-color: #919483a8;
	margin: 0;
	padding: 7vh 0;
	text-align: center;
	color: white;
	font-style: italic;
	text-decoration: underline;
	font-size: calc(28px + (60 - 28) * ((100vw - 300px) / (1600 - 300)));
}
