

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 600px));
  grid-template-rows: repeat(6, auto);
  
  justify-content: center;
  width: 100%;
  /* background-color: #2196F3; */
  padding: 10px;
}
/* change */
.grid-item {

  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  display: inline;

  padding: 20px;
  font-size: 30px;
  text-align: left;
  
}

.grid-item img {
  max-width: 100%;
  min-width: 20px;
}
.grid-item p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}



em {
  font-style: normal;
  font-size: 120%;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#header li {
  display: inline;
  padding: 0px 15px;
}

#navbar ul {
  /* border: solid purple 2px; */
  list-style-type: none;
  padding: 0px;

}
#table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}


#navbar li {
  /* border: solid pink 2px; */
  text-align: center;
  display: inline;
  padding: 0px 35px;
  border-bottom: solid 1px transparent;
  transition: border .3s;

}
#navbar li:hover{
  border-bottom: solid 1px white;
  
}
#navbar li a{
  text-decoration: none;
}
#navbar .active {
  border-bottom: solid 1px grey;
}
/* unvisited link */
#navbar a:link {
  color:white;
}

/* visited link */
#navbar a:visited {
  color:white;
}

#contactClass {
  justify-content: center;
  /* width: 40%; */
  margin: auto;
  text-align: center;
}
#contactClass a {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}
